:root {
  --primary-color:  #4f5c88;
  --primary-color-light: #383f5c;
  --primary-color-dark: #181a25;
  --primary-color-extra-light: #ced1e7;
  --secondary-color: #bfb78f;
  --secondary-color-dark: #a5a692;
  --accent-color: #f2a71b;
  --error-color: #d56161;
  --error-color-dark: #671717;
  --success-color: #4BB543;
  --success-color-dark: #023020;

  --text-color: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;

}

body {
  margin: 0;
  background: var(--bg-color);
}

h2
{
  color: var(--primary-color-extra-light);
  margin-left: 2rem;
  font-size: xx-large;
}

h1,
h3,
h4,
h5,
h6 {
  color: var(--primary-color-dark);
  margin-left: 2rem;
}

input:where(
    [type='text'],
    [type='password'],
    [type='number'],
    [type='email'],
    [type='url']
  ) {
  --border-color: var(--primary-color-dark);
  padding: 0.2rem 0.4rem;

  border: 1px solid var(--border-color);
  border-radius: 3px;
}

input:where(
    [type='text'],
    [type='password'],
    [type='number'],
    [type='email'],
    [type='url']
  ):focus {
  outline: 2px solid var(--primary-color-dark);
}

input:is(:not([type='checkbox'], [type='radio'])),
textarea {
  padding: 0.3rem 0.2rem;

  border: 1px solid var(--primary-color-dark);
  border-radius: 3px;
  font-family: inherit;
}

input {
  accent-color: var(--primary-color-dark);
}

label {
  text-align: right;
  margin-top: 0.2rem;
  color: var(--primary-color-dark);
}

.inputError {
  grid-column-start: 2;

  margin: 0;
  color: var(--error-color);
}

.hasError {
  --border-color: var(--error-color);
}

.submitBtn {
  grid-column-start: 2;
  background: var(--primary-color);
}

.deleteBtn {
  grid-column-start: 2;
  background-color: var(--error-color);
}

.addToCartBtn {
  grid-column-start: 2;
  background: var(--primary-color-light);
  margin-top: 2rem;
}

.pageForm {
  /* box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2); */
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 0.3rem;

  width: 400px;
}

.align-self-top {
  align-self: start;
} 

.darkBackground {
  background: var(--primary-color-dark);
}

  /* for responsiveness */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
